main {
  padding: 5%;

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

/* Main Content ================ */
main .main-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

main .main-content h2 {
  font-size: 1.3em;

  display: flex;
  align-items: center;
  justify-content: left;
}

main .main-content .text{
    margin: 2% 1%;
}
main .main-content p {
  width: 75%;
  font-size: 1.2em;
  font-weight: 300;
  text-align: justify;
}

/* Techs ===================== */
main .techs .techs-container {
  display: flex;
  align-items: center;
}

main .techs .techs-container .tech {
  width: 120px;
  height: 120px;

  margin-right: 1.8em;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: box-shadow 0.5s ease-in-out;
  cursor: pointer;
}

main .techs .techs-container .tech img {
  width: 80%;
}

main .techs .techs-container .tech:hover {
  box-shadow: 0px 0px 8px #8489c7;
}

/* Profile img =================== */
main figure {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

main figure img {
  width: 400px;
  height: 400px;
  border-radius: 200px;

  margin-bottom: 6%;
  border: 1px #8489c7 solid;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
main figure img:hover {
  box-shadow: 0px 0px 6px #8489c7;
}

@media (max-width: 1070px) {
  main {
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
  }
  .profile-image {
    width: 55%;
    height: 10%;
  }
  div.main-content .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div.main-content .techs {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

@media (max-width: 900px){
  aside h2{
    text-align: center;
  }
  aside .techs{
    display: flex;
    flex-wrap: wrap;
  }
  aside.techs-container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10%;
  }  
}
@media(max-width: 560px){
    .techs{
      margin:0 10px;
    }

    .techs-container {
      flex-flow: column wrap;
    }
}